/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background */
body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  /* Background image URL (can be replaced with any image URL you prefer) */
  background: url('back2.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Center content */
.container {
  text-align: "left";
  color: #fff;
}

/* Title style */
.title {
  position: absolute;
  right: 87%;
  top: 5%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.label
{
  position: absolute;
  right: 67%;
  top: 25%;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.labe
{
  position: absolute;
  right: 5%;
  top: 25%;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.lab
{
  position: absolute;
  right: 35%;
  top: 55%;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.topic 
{
  position: absolute;
  right: 66%;
  top: 35%;
  font-size: 18px;
  border: 3px solid #0077B6; 
  border-radius: 8px;
  outline: none;
  width: 90%; 
  max-width: 400px; 
  background-color: rgba(0, 0, 0, 0.3); 
  color: #fff;
  transition: border-color 0.3s ease;
}
.topi 
{
  position: absolute;
  right: 27%;
  top: 35%;
  font-size: 18px;
  border: 3px solid #0077B6; 
  border-radius: 8px;
  outline: none;
  width: 90%; 
  max-width: 400px; 
  background-color: rgba(0, 0, 0, 0.3); 
  color: #fff;
  transition: border-color 0.3s ease;
}


.topic:focus {
  border-color: #00B4D8; 
}

.button-container {
  position: absolute;
  right: 50%;
  top: 65%;
  display: flex;
  justify-content: center;
  gap: 20px;
}


.yes-button, .no-button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.yes-button {
  background-color: #00B4D8;
  color: white;
}

.yes-button:hover {
  background-color: #0077B6;
}


.no-button {
  background-color: #FF6347;
  color: white;
}

.no-button:hover {
  background-color: #FF4500;
}

